build:
  image: docker:latest@sha256:24173119fa6d1b5b4a27ab164fa7863deb66574ee5b90fef3b85dc888ef1a7e6
  services:
    - docker:dind@sha256:ea9d20492ca1caaaba78e68453433895d256173c79281756e88b745647fcbcfd

  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffix for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

  script:
    - apk add bash
    - if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}";
        docker login -u "${DOCKERHUB_USERNAME}" -p "${DOCKERHUB_TOKEN}";
      fi
    # Build and push images
    - ./bin/build.sh

  parallel:
    matrix:
      - BASE_IMAGE: ubuntu
        UBUNTU_VERSION: "22.04@sha256:09506232a8004baa32c47d68f1e5c307d648fdd59f5e7eaa42aaf87914100db3"
        DOCKER_VERSION: "5:24.0.6-1~ubuntu.22.04~jammy"
        OUTPUT_TAG_NAME: "22.04.${CI_PIPELINE_IID}"
        EXTRA_TAGS: >-
          thelab/dind:22.04.${CI_PIPELINE_IID}

      - BASE_IMAGE: ubuntu
        UBUNTU_VERSION: "24.04@sha256:66460d557b25769b102175144d538d88219c077c678a49af4afca6fbfc1b5252"
        DOCKER_VERSION: "5:27.2.0-1~ubuntu.24.04~noble"
        OUTPUT_TAG_NAME: "24.04.${CI_PIPELINE_IID}"
        EXTRA_TAGS: >-
          ${CI_REGISTRY_IMAGE}:latest
          thelab/dind:24.04.${CI_PIPELINE_IID}
          thelab/dind:latest
