variables:
  FF_NETWORK_PER_BUILD: "true"

build:
  image: docker:latest@sha256:3a33fc81fa4d38360f490f5b900e9846f725db45bb1d9b1fe02d849bd42a5cf2
  services:
    - docker:dind@sha256:3a33fc81fa4d38360f490f5b900e9846f725db45bb1d9b1fe02d849bd42a5cf2

  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffix for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

  script:
    - apk add bash
    - if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}";
        docker login -u "${DOCKERHUB_USERNAME}" -p "${DOCKERHUB_TOKEN}";
      fi
    # Build and push images
    - ./bin/build.sh

  parallel:
    matrix:
      - BASE_IMAGE: ubuntu
        UBUNTU_VERSION: "22.04@sha256:aa6efdd564b660b6df78df8f4bca20dbb8338c46fb696d4b45c4a57b8f66679f"
        DOCKER_VERSION: "5:24.0.6-1~ubuntu.22.04~jammy"
        OUTPUT_TAG_NAME: "22.04.${CI_PIPELINE_IID}"
        EXTRA_TAGS: >-
          thelab/dind:22.04.${CI_PIPELINE_IID}

      - BASE_IMAGE: ubuntu
        UBUNTU_VERSION: "24.04@sha256:7a398144c5a2fa7dbd9362e460779dc6659bd9b19df50f724250c62ca7812eb3"
        DOCKER_VERSION: "5:27.2.0-1~ubuntu.24.04~noble"
        OUTPUT_TAG_NAME: "24.04.${CI_PIPELINE_IID}"
        EXTRA_TAGS: >-
          ${CI_REGISTRY_IMAGE}:latest
          thelab/dind:24.04.${CI_PIPELINE_IID}
          thelab/dind:latest
