variables:
  FF_NETWORK_PER_BUILD: "true"
  BASE_IMAGE: ubuntu

.versions:
  v2204: &v2204
    UBUNTU_VERSION: "22.04@sha256:3ba65aa20f86a0fad9df2b2c259c613df006b2e6d0bfcc8a146afb8c525a9751"
    DOCKER_VERSION: "24.0.9"
  v2404: &v2404
    UBUNTU_VERSION: "24.04@sha256:d1e2e92c075e5ca139d51a140fff46f84315c0fdce203eab2807c7e495eff4f9"
    DOCKER_VERSION: "27.5.1"

build:
  image: docker:latest@sha256:68f6d9ab84623d1116c5432a3b924a07ee09960e6129ca1cb03ef14010588cb4
  tags:
    - $RUNNER_TAG

  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffix for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

  script:
    - apk add bash
    - if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
      docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}";
      fi
    - ./bin/build.sh

  parallel:
    matrix:
      - <<: *v2204
        ARCH: amd64
        RUNNER_TAG: thelab-amd64
      - <<: *v2204
        ARCH: arm64
        RUNNER_TAG: thelab-arm64
      - <<: *v2404
        ARCH: amd64
        RUNNER_TAG: thelab-amd64
      - <<: *v2404
        ARCH: arm64
        RUNNER_TAG: thelab-arm64

manifest:
  needs:
    - build
  image: docker:latest@sha256:68f6d9ab84623d1116c5432a3b924a07ee09960e6129ca1cb03ef14010588cb4
  tags:
    - thelab-arm64
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"

  script:
    - apk add bash
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}"
    - docker login -u "${DOCKERHUB_USERNAME}" -p "${DOCKERHUB_TOKEN}"
    - ./bin/push-manifest.sh

  parallel:
    matrix:
      - <<: *v2204
      - <<: *v2404
        IS_LATEST: "true"
